<?xml version="1.0"?>
<!-- /** * @author Amasty Team * @copyright Copyright (c) 2015 Amasty (http://www.amasty.com) * @package Amasty_HelloWorld */ -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../Magento/Config/etc/system_file.xsd">
    <system>
        <tab id="amasty" translate="label" sortOrder="10">
            <label>Amasty</label>
        </tab>
 
<section id="amasty_helloworld" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Amasty_HelloWorld</label>
            <tab>amasty</tab>
            <resource>Amasty_HelloWorld::amasty_helloworld</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                <label>General</label>
                <field id="enable" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable Hello World</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        Comment for `Enable Hello World` setting.
                    </comment>
                </field>
                <!--  <field id="block_label" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Block Label</label>
                </field>  -->
                <field id="custom_file_upload" translate="label" type="Magento\Config\Block\System\Config\Form\Field\Image" sortOrder="25" showInDefault="1" showInWebsite="1" >
                <label>Upload Image</label>
                <backend_model>Magento\Config\Model\Config\Backend\Image</backend_model>
                <upload_dir>pub/media</upload_dir>
                </field>
                <!-- <field id="text_align" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Text Align</label>
                    <source_model>Amasty\HelloWorld\Model\Source\Align</source_model>
                </field> -->
            </group>
        </section>
 
    </system>
</config>